# -----------------------------
# Virtual environment
# -----------------------------
.venv/
venv/

# -----------------------------
# Certificates
# -----------------------------
certs/

# -----------------------------
# Python cache files
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# IDE settings
# -----------------------------
.idea/
.vscode/

# -----------------------------
# Alembic versions
# -----------------------------
alembic/versions